@import 'carbon-components/scss/globals/grid/grid';


.section{
    width: 100%;
    margin: 0;
    
}

.font-face-vg {
    font-family: "VG5000";
}

.containercolor1{
    background-color: #1111cc;
}



@media (max-width: 767px) {

}




