.project{
    height: 100vh;
    width: 100%;

    h1{
        font-size: 6.2rem;
        
    };

    h4{
        font-size: 1rem;
        line-height: 1.6;
        margin-top: 2px;
    };

    img{
        width: 640px;
        height: auto;
        padding-top: 0;
        padding-left: 4rem;
        max-width: -webkit-fill-available;
    }

    @media only screen and (max-width: 1200px) {
        h1{
            font-size: 3rem;
            
        };
    
    };
  
    @media (max-width: 767px) {
        min-width: fit-content;

        height: auto;

        h1{
            font-size: 2.7rem;
            
        };


        .bx--row{
            display: block;

            
        }

        img{
            width: -webkit-fill-available;
            max-width: 480px;
            padding-left:0 ;
        }


    }

   


    @media (max-width: 428px) {
        min-width: fit-content;

        h1{
            font-size: 2.4rem;
            
        };

        .bx--row{
            display: block;

            
        }

        img{
            width: -webkit-fill-available;
            max-width: 320px;
            padding-left:0 ;
        }

    }

}






.container-padding{
    padding-top: 2rem;



    

}

.row-padding{
    padding-top: 2rem;

    
}

a{
    color:#333333 ;



}

.bg-2{
    background-color: rgb(224, 255, 166);
};

.bg-3{

    background-color: #3ae75f;
};

.bg-1{
    background-color: #ff74e1;

    }




@media (max-width: 767px) {



    .bx--row{
        min-width: fit-content;
        

    }

    .content-container{

        p{
            padding-top: 1rem;
            max-width: fit-content;
            font-size: 1rem;
        }

    }



    

}