.project{
    height: 100vh;
    width: inherit;

    .title{
        font-size: 6rem;
        
    };

    .title-2{
        font-size: 5.5rem;
    }

    h4{
        font-size: 1rem;
        line-height: 1.6;
        margin-top: 2px;
    };

    img{
        width: inherit;
        height: auto;
        padding-top: 0;
        max-width: 640px;
        padding-left: 1.5rem;
    }

    @media only screen and (max-width: 1200px) {
        height: auto;
        padding-bottom: 2rem;
        
        h1{
            font-size: 3rem;
            
        };
    
    };
  
    @media (max-width: 767px) {
        
        height: auto;

        .title, .title-2{
            font-size: 2.7rem;
            
        };


    }

    .project_title{
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        line-height: 1.2;

    }

   


    @media (max-width: 428px) {
        min-width: fit-content;

        h1{
            font-size: 2.4rem;
            
        };

        img{
            width: -webkit-fill-available;
            max-width: 320px;
            padding-left:0 ;
        }

    }

}






.container-padding{
    padding-top: 2rem;



    

}

.row-padding{
    padding-top: 2rem;

    
}

a{
    color:#333333 ;



}

.bg-2{
    background-color: rgb(224, 255, 166);
};

.bg-3{

    background-color: #3ae75f;
};

.bg-1{
    background-color: #ff74e1;

    }




@media (max-width: 767px) {



    .bx--row{
        min-width: fit-content;
        

    }

    .content-container{

        p{
            max-width: fit-content;
            font-size: 1rem;
        }

    }


}

//Badges//

.custom-badge{
    outline: 1px solid black;
    border-radius: 2rem;
    padding: 12px;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    width: fit-content;
}

.row-custom{
    padding-left: 0.5rem;
    padding-bottom: 1rem;
}



