
.content{
    width: 100%;
    height: 100vh;
    padding-top: 16rem;
    
    
}


h1{
    font-size: 6.2rem;
    
};

h4{
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 2px;
};

.right{
    line-height: 1.6;
    text-align: right;
};

.left{
    line-height: 1.6;
    text-align: left;
};

.noMargin{
    margin: 0;
    padding: 0;
    width: 100%;
}

.otherLink{
    margin-top: 16rem;

}

.right-column{
    padding-top: 2rem;
}

.myname{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 1056px ){

    .content-spacing{
        margin-bottom: 2rem;

    }

    .myname{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 3.2rem;
    }

    .content{
        height: auto;
        padding-top: 7rem;

        .bx--row{
            display: block;
            padding-bottom: 2rem;
        }
        
        
    }

    h1{
        font-size: 2rem;
    }

    .project_title{
        padding-bottom: 1rem;

    }



}

@media (max-width: 768px) {

    .content-container{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    
    }
   
    .sub-content{
        display: block;
        text-align: left;
        padding:1.5em;
        
        h4 {
            font-size: 1rem;
        }
    }

    .subtext{
        font-size: 1rem;
    }


    


  }
