
.content{
    width: -webkit-fill-available;
    height: 100vh;
    padding-top: 16rem;
    
    h1{
        font-size: 6.2rem;
        
        
    };

    h4{
        font-size: 1rem;
        line-height: 1.6;
        margin-top: 2px;
    };

    .myname{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    
    
};

.content-container{

    p{
        max-width: fit-content;
        font-size: 1.2rem;
    }

}






.right{
    line-height: 1.6;
    text-align: right;
};

.left{
    line-height: 1.6;
    text-align: left;
};

.noMargin{
    margin: 0;
    padding: 0;
    width: 100%;
}

.right-column{
    padding-top: 2rem;
}

.myname{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 1200px ){

    .content-spacing{
        margin-bottom: 2rem;

    }

    .content{
        height: auto;
        width: -webkit-fill-available;
        padding-top: 7rem;

        .bx--row{
            display: block;
            padding-bottom: 2rem;
        }

        h1{
            font-size: 3.2rem;
            
        };

        
        
    }





}

@media (max-width: 768px) {

    .content-container{
        padding-left: 0rem;
        padding-right: 0.5rem;

        p{
            max-width: fit-content;
        }
    
    }
   
    .sub-content{
        display: block;
        text-align: left;
        
        h4 {
            font-size: 1rem;
        }
    }

    .subtext{
        font-size: 1rem;
    }

   


  }
