.topbar{
    width: 100%;
    height: 4rem;
    padding-top: 2rem;
    font-family: 'VG5000';
    position: fixed;
    top: 0;
    
}

.sideMargin{
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;

}
