.topbar{
    width: 100%;
    height: 4rem;
    padding-top: 2rem;
    font-family: 'VG5000';
    position: fixed;
    top: 0;

    @media (max-width: 767px) {
        padding-left: 1rem;
    }
    
}

.sideMargin{
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;

}

Button{
    border: none;
    background: none;
    padding-left: 1rem;
    font-size: 1rem;
    padding-left: 1rem;

    @media (max-width: 767px) {

        padding-left: 0;
        


    }


}
